.divContato ul{
    display: flex;
    justify-content: space-evenly;
}

.divContato li {
    color: white;
    display: flex;
    font-size: 20px;
    list-style: none;
}

.divContato a {
color: #f39cab;
font-size: 28px;
text-decoration: none;
}

.divContato a:hover {
color: #98C379;

}

#contato{
    margin-bottom: 4%;
    margin-top: 5%;
}

.divContato {
    margin-bottom: 5%;
}



