h2 {
    color: #f39cab;
    margin-top: 50px;
    text-align: center;
}

#habilidades {
    margin-top: 5%;
    margin-bottom: 4%;
}

.hardSkills {
    align-items: center;
    border: 1px solid #f39cab;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
    padding: 5px;
}

.hardSkills p {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.divSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
}

.logoSkills {
    width: 95px;
}


@media screen and (max-width: 769px) {
    #habilidades{
        margin-top: 16%;
        margin-bottom: 10%;
    }

    .divSkills {
        margin-bottom: 10%;
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 5%;
    }
}